body {
  background: #f5f5f5;
}

h1 {
  text-align: center;
  color: #262626;
  font-family: "Lora", serif;
}

#animals-display {
  text-align: center;
  margin-bottom: 5px;
}

.button {
  color: #3f3f3f;
}

#animal-form {
  text-align: center;
  margin-bottom: 15px;
}
